DEBUG=True
SECRET_KEY=*h*7hx!v*6$-a3*5+5()@dc$q8q%cv0g=y4bs(r2bg+v+o1ay4
DJANGO_SETTINGS_MODULE=backend.settings.local

DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=1

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Celery
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=django-db
CELERY_CACHE_BACKEND=django-cache

# Cache
REDIS_CACHE_LOCATION=redis://redis:6379/0
